<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <!--<section name="ABSAPGateway.TestGateway.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               requirePermission="false" />-->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <!--<entityFramework configSource="EntityFramework.shared.config" />-->
  <!--<connectionStrings configSource="ConnectionStrings.shared.config" />-->
  <connectionStrings>
    <clear />
    <!-- DEV 10.33.193.134 (Primary) XXXXX (DR) -->
    <!-- UAT XXXXX (Primary) XXXXX (DR) -->
    <!-- PROD XXXXX (Primary) XXXXX (DR) -->
    <add name="WNSTrackDBConn"
         connectionString="Data Source=(localdb)\MSSQLLocalDB;AttachDbFilename=C:\Gateway\ABS\TRACAP-Gateway-DB\ABSTRAC-AP-DB.mdf;Integrated Security=True;"
         providerName="System.Data.SqlClient" />
    <add name="GatewayDBConn"
         connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Gateway\ABS\TRACAP-Gateway-DB\ABSAPGateway-DB.mdf;Integrated Security=True;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  <!--<appSettings configSource="AppSettings.Shared.config">-->
  <appSettings>
    <!-- SFTP server settings (Host & Fingerprint) -->
    <!-- Dev sftp.wnsgs.com "ssh-ed25519 256 a8:86:a3:ef:cb:e8:38:dc:9a:32:f2:9f:6c:f3:cd:aa" -->
    <!-- QA 10.33.186.165 "ssh-rsa 2048 79:07:7d:e7:db:06:72:34:83:2c:fa:64:39:af:59:8c" -->
    <!-- SIT 10.33.186.127 "ssh-rsa 2048 87:a9:60:83:fa:91:47:22:68:9d:79:51:16:e2:a2:fe"  -->
    <!-- Primary - 10.22.194.143 / WUCPRKKFXSFTP1 "ssh-rsa 2048 58:11:e9:0e:28:44:fb:55:63:26:49:a4:eb:97:fd:eb" -->
    <!-- DR - 10.55.194.143 / WUPKFXDRSFTP1  "ssh-rsa 2048 9d:d2:28:b4:84:76:a5:03:74:bd:87:86:96:eb:85:f1"-->
    <add key="SFTPHostName" value="sftp.wnsgs.com"/>
    <add key="SFTPUserName" value="WNS_ISS"/>
    <add key="SFTPPassword" value="may#2018"/>
    <add key="SFTPSshHostKeyFingerprint" value="ssh-ed25519 256 a8:86:a3:ef:cb:e8:38:dc:9a:32:f2:9f:6c:f3:cd:aa" />
    <add key="SFTPInboundRootFolder" value="ABSAPGatewayTest/ABS/" />
    <add key="SFTPOutboundRootFolder" value="ABSAPGatewayTest/WNS/" />

    <!-- Intermediate and KTA folder settings -->
    <add key="WinSCPExePath" value="C:\Gateway\WinSCP-5.13.2-Portable\WinSCP.exe" />
    <add key="DataRootFolder" value="C:\Gateway\ABS\APGatewayData\" />
    <!-- KTAInvFilesFolder UAT \\WUCPRKKFXSFTP1\KTA_UAT\  (Primary) \\WUPKFXDRSFTP1\KTA_UAT\ (DR) -->
    <!-- KTAInvFilesFolder PROD \\WUCPRKKFXSFTP1\KTA_PROD\ (Primary) \\WUPKFXDRSFTP1\KTA_PROD\ (DR) -->
    <add key="KTAInvFilesFolder" value="C:\Gateway\ABS\KTAImages\" />

    <!-- Email server settings -->
    <add key="MailFrom" value="noreplyDEV@ap.abs.com" />
    <add key="MailToPriority" value="ABSFileErrors-PDL@wns.com" />
    <add key="MailToOpsTeam" value="Ashok.Borate@wns.com" />
    <add key="MailToInfo" value="Ashok.Borate@wns.com;Rizwan.Inamdar@wns.com;Shrikant.Mahajan@wns.com" />
    <add key="MailCC" value="" />
    <add key="MailServerHost" value="10.33.193.107" />
    <add key="MailServerPort" value="25" />
    <add key="MailUserID" value="" />
    <add key="MailPassword" value="" />
    <add key="MailHostSSL" value="false" />
    <add key="MailAttachments" value="true" />
    <add key="MailEnabled" value="false" />

    <!-- Possible values UAT/UAT-DR/PROD/PROD-DR -->
    <add key="Environment" value="DEV" />
    <add key="GatewayVersion" value="2018-08-21" />

    <!-- Common Setting for Local folders -->
    <add key="LocalEmailFolder" value="Emails\" />
    <add key="LocalInboundFolder" value="DataFiles\ABS\" />
    <add key="LocalOutboundFolder" value="DataFiles\WNS\" />
    <add key="LocalPOBoxFolder" value="DataFiles\RICOH\" />

    <!-- Service Timer Polling Intervals in Minutes -->
    <add key="PollingIntervalInbound" value="15" />
    <add key="PollingIntervalOutbound" value="5" />
    <!-- Service Enablement Flags. Will be effective on service restart. -->
    <add key="EnableInboundService" value="True" />
    <add key="FollowInboundSchedule" value="False" />
    <add key="EnableOutboundService" value="True" />
    <add key="EnableScannedInvoiceService" value="True" />

    <!-- SQL Timeout Values in Seconds -->
    <add key="SQLCommandTimeoutInbound" value="300" />
    <add key="SQLCommandTimeoutOutbound" value="600" />
    <!-- Commit Block Size -->
    <add key="NoOfRowsCommitBlock" value="2500" />
    <!-- Number of Days to Keep INFO Items in Log4Net -->
    <add key="Log4NetDaysToKeep" value="7"/>

    <!-- Flags to control email alerts -->
    <add key="EnableFileReceivedEmail" value="False" />
    <add key="EnablePreUploadEmail" value="True" />
    <add key="EnableErrorEmail" value="True" />
    <!-- Crypto Settings -->
    <add key="CryptoPublicKey" value="ABSTestPublicKey.asc" />
    <add key="CryptoPrivateKey" value="ABSTestPrivateKey.asc" />
    <add key="CryptoPassword" value="A$b#c12345" />
    <add key="CryptoUser" value="surinder.singh@wns.com" />
    <add key="CryptoFileExtension" value=".gpg" />
    <add key="CryptoDBSymKey" value="ProtectClientPII" />
    <add key="CryptoDBCert" value="APPayable" />

    <!-- Who is using it? -->
    <add key="ClientSettingsProvider.ServiceUri" value="" />

  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <!--<log4net configSource="Log4Net.shared.config" />-->
  <log4net debug="false">
    <logger name="DBLogger">
      <level value="All" />
      <appender-ref ref="AdoNetAppender" />
      <appender-ref ref="RollingLogFileAppender" />
      <appender-ref ref="ManagedColoredConsoleAppender" />
    </logger>
    <logger name="FileLogger">
      <level value="All" />
      <appender-ref ref="RollingLogFileAppender" />
      <appender-ref ref="ManagedColoredConsoleAppender" />
    </logger>
    <appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender">
      <bufferSize value="50" />
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <connectionStringName value="GatewayDBConn" />

      <commandText value="INSERT INTO Log4Net ([Date],[Thread],[Level],[Logger],[Message],[Exception]) VALUES (@log_date, @thread, @log_level, @logger, @message, @exception)" />
      <parameter>
        <parameterName value="@log_date" />
        <dbType value="DateTime" />
        <layout type="log4net.Layout.RawTimeStampLayout" />
      </parameter>
      <parameter>
        <parameterName value="@thread" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%thread" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@log_level" />
        <dbType value="String" />
        <size value="50" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%level" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@logger" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%logger" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@message" />
        <dbType value="String" />
        <size value="4000" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%message" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@exception" />
        <dbType value="String" />
        <size value="2000" />
        <layout type="log4net.Layout.ExceptionLayout" />
      </parameter>
    </appender>
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <file value="Logs\ABSAPGatewayLog" />
      <appendToFile value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date[%thread]%-5level[%logger]-%message%newline" />
      </layout>
    </appender>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Logs\ABSAPGatewayLog" />
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <datePattern value="yyyyMMdd'.txt'" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="2MB" />
      <immediateFlush value="false"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date[%thread]%-5level[%logger]-%message%newline" />
      </layout>
    </appender>
    <appender name="ManagedColoredConsoleAppender" type="log4net.Appender.ManagedColoredConsoleAppender">
      <mapping>
        <level value="ERROR" />
        <foreColor value="DarkRed" />
      </mapping>
      <mapping>
        <level value="WARN" />
        <foreColor value="Yellow" />
      </mapping>
      <mapping>
        <level value="INFO" />
        <foreColor value="Green" />
      </mapping>
      <mapping>
        <level value="DEBUG" />
        <foreColor value="Blue" />
      </mapping>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date[%thread]%-5level[%logger]-%message%newline" />
      </layout>
    </appender>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <param name="Threshold" value="INFO" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c [%x] - %m%n" />
      </layout>
    </appender>
  </log4net>
</configuration>
